.ds-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(135deg, #9cafb2 0%, #0d3981 100%);
}

.ds-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  color: #fbfbfb;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 8px #0a0a3e;
  margin-top: 70px;
  text-align: center;
}
